

#loginarea{
    margin-left: 18vw;
    margin-top: 15vh;
    width: 550px;
    height: 600px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    background-color: rgb(252, 234, 210);
}


#login{
    width: 500px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    margin-left: 22px;
    margin-top: 5px;
    border: solid;
    border-color: rgb(224, 204, 177);
    
}

#labellogin{
    text-align: center;
    margin-left: 245px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 14pt;
}

#titulologin{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22pt;
}


#senha{
    width: 500px;
    height: 50px;
    border-radius: 15px;

    text-align: center;
    margin-left: 22px;
    margin-top: 5px;
    border: solid;
    border-color: rgb(224, 204, 177);
}


#labelsenha{
    text-align: center;
    margin-left: 245px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 14pt;
}

#btn-entrar{
    margin-top: 80px;
    margin-left: 50px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    border: solid;
    border-color: rgb(224, 204, 177);
}

#btn-registro{
    width: 220px;
    height: 50px;
    border-radius: 15px;
    border: solid;
    border-color: rgb(224, 204, 177);
    margin-left: 10px;

}







#registroarea{
    margin-left: 18vw;
    margin-top: 5vh;
    width: 550px;
    height: 800px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.295);
    border-radius: 15px;
    background-color: rgb(252, 234, 210);
}


#nomeregistro{
    width: 500px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    margin-left: 22px;
    margin-top: 5px;
    border: solid;
    border-color: rgb(224, 204, 177);
    
}

#labelnomer{
    text-align: center;
    margin-left: 245px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 14pt;
}

#tituloregistro{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22pt;
}


#senharegistro{
    width: 500px;
    height: 50px;
    border-radius: 15px;

    text-align: center;
    margin-left: 22px;
    margin-top: 5px;
    border: solid;
    border-color: rgb(224, 204, 177);
}

#senha{
    width: 500px;
    height: 50px;
    border-radius: 15px;

    text-align: center;
    margin-left: 22px;
    margin-top: 5px;
    border: solid;
    border-color: rgb(224, 204, 177);
}



#labelsenhar{
    text-align: center;
    margin-left: 245px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 14pt;
}

#labelsenhar2{
    text-align: center;
    margin-left: 205px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 14pt;
}


#btn-criar{
    margin-top: 80px;
    margin-left: 50px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    border: solid;
    border-color: rgb(224, 204, 177);
}

#btn-logar{
    width: 220px;
    height: 50px;
    border-radius: 15px;
    border: solid;
    border-color: rgb(224, 204, 177);
    margin-left: 10px;

}


#labeltipo{
    text-align: center;
    margin-left: 245px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 14pt;
}

#tiporegistro{
    width: 500px;
    height: 50px;
    border-radius: 15px;

    text-align: center;
    margin-left: 22px;
    margin-top: 5px;
    border: solid;
    border-color: rgb(224, 204, 177);

}