<div class="card">
    <div class="card-body">
        <form action="/admin/criarloja" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome">
            <label for="cnpj">Cnpj: </label>
            <input type="text" name="cnpj">
            <label for="endereco">Endereço: </label>
            <input type="text" name="endereco">
            <label for="telefone">Telefone: </label>
            <input type="number" name="telefone">
            <button type="submit">Criar</button>
        </form>
    </div>
</div>